<a href="https://colab.research.google.com/github/bigirimanainnocent12/Spark/blob/main/PYSPARK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Description de la base de données***

Cet ensemble de données recense les incidents criminels signalés (à l'exception des homicides pour lesquels des données existent pour chaque victime) survenus dans la ville de Chicago de 2001 à 14/11/2025, moins les sept derniers jours. Les données proviennent du système CLEAR (Citizen Law Enforcement Analysis and Reporting) du département de police de Chicago. Afin de protéger la vie privée des victimes, les adresses sont affichées au niveau du pâté de maisons uniquement et les lieux précis ne sont pas identifiés. Pour toute question concernant cet ensemble de données, veuillez contacter la Division de l'analyse et du traitement des données du département de police de Chicago à l'adresse DFA@ChicagoPolice.org.

[
Lien pour télécharger les données](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2/about_data)

In [ ]:
!pip install pyspark
!pip install findspark

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Débuter avec Spark").getOrCreate()

# **Importation des données et affichage de 20 premières lignes**

In [4]:
df=spark.read.csv("/content/Crimes.csv",header=True,inferSchema=True)
df.show()

+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|                Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|13311263|   JG503434|07/29/2022 03:39:...|     023XX S TROY ST|1582|OFFENSE INVOLVING...|   CHILD PORNOGRAPHY|           RESIDENCE|  true|   false|1033|      10|  25|            30|      17|        NULL|        NULL|2022|04/18/2024 03:40:...|        NULL|         NULL|                NULL|
|13053066|   JG103252|01/03/2023 04:44:...|039XX W WASHINGTO...|2017|           NARCOTICS|MANUFACTURE / DEL...|            SIDEWALK|  true|   false|1122|      11|  28|            26|      18|        NULL|        NULL|2023|01/20/2024 03:41:...|        NULL|         NULL|                NULL|
|12131221|   JD327000|08/10/2020 09:45:...|   015XX N DAMEN AVE|0326|             ROBBERY|AGGRAVATED VEHICU...|              STREET|  true|   false|1424|      14|   1|            24|      03|     1162795|     1909900|2020|05/17/2025 03:40:...|41.908417822| -87.67740693|(41.908417822, -8...|
|11227634|   JB147599|08/26/2017 10:00:...| 001XX W RANDOLPH ST|0281| CRIM SEXUAL ASSAULT|      NON-AGGRAVATED|         HOTEL/MOTEL| false|   false| 122|       1|  42|            32|      02|        NULL|        NULL|2017|02/11/2018 03:57:...|        NULL|         NULL|                NULL|
|13203321|   JG415333|09/06/2023 05:00:...|    002XX N Wells st|1320|     CRIMINAL DAMAGE|          TO VEHICLE|PARKING LOT / GAR...| false|   false| 122|       1|  42|            32|      14|     1174694|     1901831|2023|11/04/2023 03:40:...|41.886018055|-87.633937881|(41.886018055, -8...|
|13204489|   JG416325|09/06/2023 11:00:...|      0000X E 8TH ST|0810|               THEFT|           OVER $500|PARKING LOT / GAR...| false|   false| 123|       1|   4|            32|      06|     1176857|     1896680|2023|11/04/2023 03:40:...|41.871834768| -87.62615082|(41.871834768, -8...|
|11695116|   JC272771|05/21/2019 08:20:...|018XX S CALIFORNI...|0620|            BURGLARY|      UNLAWFUL ENTRY|           RESIDENCE| false|   false|1023|      10|  25|            29|      05|     1157982|     1890961|2019|01/19/2024 03:40:...|41.856547057|-87.695604526|(41.856547057, -8...|
|12419690|   JE295655|07/07/2021 10:30:...|132XX S GREENWOOD...|1544|         SEX OFFENSE|SEXUAL EXPLOITATI...|           RESIDENCE| false|   false| 533|       5|  10|            54|      17|     1186051|     1817781|2021|01/19/2024 03:40:...| 41.65511579|-87.594883198|(41.65511579, -87...|
|12729745|   JF279458|06/14/2022 02:47:...| 035XX N CENTRAL AVE|0340|             ROBBERY|ATTEMPT STRONG AR...|                BANK|  true|   false|1633|      16|  30|            15|      03|     1138391|     1923142|2022|01/19/2024 03:40:...|41.945232412|-87.766734668|(41.945232412, -8...|
|12835559|   JF406130|09/21/2022 10:00:...|     004XX E 69TH ST|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|     OTHER (SPECIFY)|  true|   false| 322|       3|   6|            69|      07|     1180204|     1859359|2022|01/19/2024 03:40:...|41.769346711|-87.615008288|(41.769346711, -8...|
|13003649|   JG177593|02/22/2023 01:50:...|   070XX S CLYDE AVE|0610|            BURGLARY|      FORCIBLE ENTRY|RESIDENCE - PORCH...|  true|   false| 331|       3|   5|            43|      05|     1191427|     1858753|2023|01/19/2024 03:40:...|41.767419224|-87.573890196|(41.767419224, -8...|
|13061203|   JG246126|05/03/2023 08:10:...| 073XX S EMERALD AVE|0486|             BATTERY|DOMESTIC BATTERY ...|              STREET|  true|    true| 732|       7|   6|            68|     08B|     1172570|     1856234|2023|01/19/2024 03:40:...|41.760942883|-87.643082808|(41.760942883, -8...|
|13256787|   JG479716|12/25/2022 12:01:...|  055XX S ALBANY AVE|0486|             BATTERY|DOMESTIC BATTERY ...|  RESIDENCE - GARAGE| false|    true| 824|       8|  14|            63|     08B|     1156659|     1867650|2022|01/19/2024 03:40:...|41.792605624| -87.70109031|(41.792605624, -8...|
|13116982|   JG312117|06/23/2023 04:44:...|     040XX W 59TH ST|0142|            HOMICIDE|   RECKLESS HOMICIDE|              STREET|  true|   false| 813|       8|  23|            65|     01B|     1150629|     1865174|2023|05/17/2025 03:40:...|41.785930664|-87.723266186|(41.785930664, -8...|
|13364090|   JH146864|02/10/2024 12:44:...|     002XX W 47TH ST|0484|             BATTERY|PROTECTED EMPLOYE...|        CTA PLATFORM|  true|   false| 925|       9|  20|            37|     08B|     1175476|     1873816|2024|05/17/2025 03:40:...|41.809125265|-87.631906508|(41.809125265, -8...|
|13376308|   JH161184|02/22/2024 12:49:...|  044XX S KEDZIE AVE|0454|             BATTERY|AGGRAVATED P.O. -...|            SIDEWALK|  true|   false| 922|       9|  12|            58|     08B|     1155768|     1875006|2024|05/17/2025 03:40:...|41.812809432|-87.704160069|(41.812809432, -8...|
|   27382|   JG184406|03/13/2023 06:40:...|     004XX E 88TH ST|0110|            HOMICIDE| FIRST DEGREE MURDER|               ALLEY|  true|   false| 632|       6|   8|            44|     01A|     1180808|     1846737|2023|01/19/2024 03:40:...|41.734696692|-87.613181581|(41.734696692, -8...|
|   27547|   JH119907|06/05/2023 09:15:...| 020XX N KIMBALL AVE|0110|            HOMICIDE| FIRST DEGREE MURDER|           APARTMENT|  true|    true|1413|      14|  26|            22|     01A|     1153376|     1913502|2023|01/19/2024 03:40:...|41.918494462|-87.711911917|(41.918494462, -8...|
| 6255892|   HP342049|05/17/2008 06:00:...|101XX S LAFAYETTE...|031A|             ROBBERY|     ARMED - HANDGUN|           RESIDENCE| false|   false| 511|       5|   9|            49|      03|     1177712|     1837726|2008|01/19/2024 03:40:...|41.710039855| -87.62479561|(41.710039855, -8...|
| 6272641|   HP358387|05/27/2008 01:00:...|   105XX S PERRY AVE|0320|             ROBBERY|STRONG ARM - NO W...|              STREET| false|    true| 512|       5|   9|            49|      03|     1177463|     1835161|2008|01/19/2024 03:40:...|41.703006756|-87.625784664|(41.703006756, -8...|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

# **Nombre de lignes**

In [5]:
df.count()

8441730

# Type de df

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

# **Type des variables**

In [8]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- Beat: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- Community Area: integer (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: integer (nullable = true)
 |-- Y Coordinate: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

# **Manipulation des données**

In [13]:
from pyspark.sql.functions import col,to_timestamp
df=df.withColumn('Date',to_timestamp(col("Date"),"MM/dd/yyyy hh:mm:ss a")
)
from pyspark.sql.functions import col

# convertir les colonnes "Latitude" et "Location" en Float
df = df.withColumn("Latitude", col("Latitude").cast("float"))
df = df.withColumn("Longitude", col("Longitude").cast("float"))

df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- Beat: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- Community Area: integer (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: integer (nullable = true)
 |-- Y Coordinate: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- Location: string (nullable = true)